services:
  db:
    image: postgres:14-alpine
    container_name: carwashmini
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123451
      POSTGRES_DB: carwashmini_dev
    ports:
      - '5434:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: